{% extends 'custmanager/main.html' %}

{% block content %}
{% include 'custmanager/status.html' %}
<br>
<div class="row">
  <div class="col-md-5">
    <h5>Customers</h5>
    <hr>
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Customers</th>
          <th>Contact</th>
        </tr>




        {% for cust in customers%}
        <tr>
          <td><a class="btn btn-sm btn-info" href="{% url 'customer' cust.id %}">View</a></td>
        <td>{{cust.name}}</td>
        <td>{{cust.phone}}</td>

        </tr>

        {% endfor %}

      </table>

    </div>
  </div>




  <div class="col-md-7">
    <h5>Last 5 Orders</h5>
    <hr>
    <div class="card card-body">
      
      <table class="table table-sm">
        <th>PO Number</th>
        <th>Customer Name</th>
        <th>Line Number</th>
        <th>Product</th>
        <th>Date Recieved</th>
        <th>Status</th>
        <th>Update</th>
        <th>Remove</th>
        {% for i in cust_orders %}
        <tr>
          <td>{{i.ponumber}}</td>
          <td>{{i.customer}}</td>
          <td>{{i.linenumber}}</td>
          <td>{{i.product}}</td>
          <td>{{i.date_created}}</td>
          <td>{{i.status}}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'update_order' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}

      </table>

    </div>

  </div>





{% endblock %}
